src/main/mule/implementations/agencyregion.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation=" 
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/batch 
		http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

    <flow name="endpoint-agencyregion">

        <flow-ref doc:name="initialize batch" name="initialize-batch"/>

        <flow-ref doc:name="get account ids" name="query-account"/>
        
        <choice doc:name="Choice" >
            <when expression='#[sizeOf(vars.listIds) == sizeOf(vars.originalPayload)]'>
                <ee:transform doc:name="build Salesforce payload for trust account" >
                    <ee:message >
                        <ee:set-payload ><![CDATA[%dw 2.0
                        output application/java
                        ---
                        vars.originalPayload map (item, index) -> {
                            'Id' : (vars.listIds filter ( $.account == item.account )).id[0],
                            'Agency_Code__c':           item.agencyCode,
                            'Agency__c':                item.agencyDescription,
                            'Region_Code__c':           item.regionCode,
                            'Region__c':                item.regionDescription,
                            'Tribe_Code__c':            item.tribeCode,
                            'Tribe_Description__c':     item.tribeDescription,
                            'Agency_Region_Tribe_Date_Time__c': item.date
                        }
                        ]]>
                        </ee:set-payload>
                    </ee:message>
                </ee:transform>
                
                <set-variable variableName="salesforceObject" value="Trust_Account__c" doc:name="Salesforce object" />
                <set-variable variableName="bulkOperation" value="update" doc:name="Salesforce object" />
        
                <flow-ref doc:name="run job" name="job-bulk"/>
            </when>
            <otherwise>
                <logger doc:name="bulk result" level="INFO" category="app" 
                    message="#['Records received: ' ++ sizeOf(vars.originalPayload) ++ ', IIM accounts in Salesforce: ' ++ sizeOf(vars.listIds)]"/>
                <set-variable doc:name="status 404" variableName="httpStatus" value="#[404]"/>
                <set-variable doc:name="message error" variableName="message" value="${messages.batch-primaryidentifier-notpresent}"/>
            </otherwise>
        </choice>

        <flow-ref doc:name="service response" name="service-response"/>
        <error-handler ref="global-error-handler" />		
    </flow>
</mule>
